/* poppins-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  src: url("../Fonts/poppins-v20-latin-100.eot"); /* IE9 Compat Modes */
  src: url("../Fonts/poppins-v20-latin-100.eot?#iefix") format("embedded-opentype"), url("../Fonts/poppins-v20-latin-100.woff2") format("woff2"), url("../Fonts/poppins-v20-latin-100.woff") format("woff"), url("../Fonts/poppins-v20-latin-100.ttf") format("truetype"), url("../Fonts/poppins-v20-latin-100.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("../Fonts/poppins-v20-latin-200.eot"); /* IE9 Compat Modes */
  src: url("../Fonts/poppins-v20-latin-200.eot?#iefix") format("embedded-opentype"), url("../Fonts/poppins-v20-latin-200.woff2") format("woff2"), url("../Fonts/poppins-v20-latin-200.woff") format("woff"), url("../Fonts/poppins-v20-latin-200.ttf") format("truetype"), url("../Fonts/poppins-v20-latin-200.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../Fonts/poppins-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../Fonts/poppins-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../Fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../Fonts/poppins-v20-latin-regular.woff") format("woff"), url("../Fonts/poppins-v20-latin-regular.ttf") format("truetype"), url("../Fonts/poppins-v20-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../Fonts/poppins-v20-latin-600.eot"); /* IE9 Compat Modes */
  src: url("../Fonts/poppins-v20-latin-600.eot?#iefix") format("embedded-opentype"), url("../Fonts/poppins-v20-latin-600.woff2") format("woff2"), url("../Fonts/poppins-v20-latin-600.woff") format("woff"), url("../Fonts/poppins-v20-latin-600.ttf") format("truetype"), url("../Fonts/poppins-v20-latin-600.svg#Poppins") format("svg"); /* Legacy iOS */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

i {
  font-size: 1.4rem;
}

.swiper-button-prev,
.swiper-button-next {
  color: #81b441;
  background-color: #e9ecef;
  width: 50px;
  height: 40px;
  top: 95%;
  transition: color 0.5s ease, background-color 0.5s ease;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1.6rem;
  font-weight: bold;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #e9ecef;
  background-color: #81b441;
}

.btn-link {
  display: inline-block;
  color: white;
  background-color: #81b441;
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  transition: color 0.5s ease, background-color 0.5s ease;
  --bs-btn-hover-color: $color-white;
}
.btn-link--green {
  background-color: #81b441;
  color: white;
}
.btn-link--green-active {
  background-color: #81b441;
  color: white;
}
.btn-link--green-active:hover {
  background-color: #333333;
}
.btn-link--grey {
  background-color: #333333;
  color: white;
}
.btn-link--grey-active {
  background-color: #333333;
  color: white;
}
.btn-link--grey-active:hover {
  background-color: #81b441;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: #333333;
}

p {
  font-size: 1.6rem;
}

.service__item:hover .service__icon {
  background-color: #81b441;
  color: white;
}
.service__icon {
  transition: background-color 0.5s ease;
  background-color: #e9ecef;
}
.service__icon i {
  font-size: 2.4rem;
}

.about__item:hover .about__icon {
  background-color: #81b441;
  color: white;
}
.about__item:hover .about__item-text .h4 {
  color: #81b441;
}
.about__icon {
  transition: color 0.5s ease, background-color 0.5s ease;
  max-width: 100px;
}
.about__icon i {
  font-size: 2.4rem;
}
.about__item-text .h4 {
  transition: color 0.5s ease;
}
.about__slide {
  width: 480px;
  height: 372px;
  overflow: hidden;
}
.about__slide img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__swiper-btn {
  position: absolute;
}
.about .swiper-button-prev {
  left: 0px;
  top: calc(100% - 18px);
}
.about .swiper-button-next {
  left: 50px;
  top: calc(100% - 18px);
}

.header {
  position: relative;
}
.header__h2-color {
  color: #81b441;
}
.header__top-container {
  padding-top: 20px;
}
.header__top-social li {
  display: inline-block;
}
.header .logo img {
  width: 100px;
  height: 50px;
}
.header__menu-item {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
}
.header__li-text {
  font-size: 1.6rem;
}
.header__menu-nav {
  display: block;
}
.header__link-item {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.header__link-item:hover {
  background-color: #81b441;
  color: white;
}
.header__menu-list {
  margin-bottom: 0;
}
.header__icon {
  padding: 5px;
  font-size: 1.2rem;
  transition: color 0.5s ease;
}
.header__icon:hover {
  color: #81b441;
}
.header__burger {
  display: block;
  width: 25px;
  height: 39px;
  line-height: 39px;
}
.header__burger-link {
  color: black;
  padding: 5px;
}
.header__navbar-toggler {
  position: relative;
  background-color: black;
  width: 30px;
  height: 26px;
  border-radius: 7px;
}
.header__navbar-icon {
  position: absolute;
  left: 5px;
  background-color: white;
  width: 18px;
  height: 2px;
  border-radius: 25px;
}
.header__navbar-icon--first {
  top: 4px;
}
.header__navbar-icon--second {
  top: 11px;
}
.header__navbar-icon--third {
  top: 18px;
}
.header__img::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
}

.experts .swiper {
  width: 100%;
  height: 450px;
}
.experts__img-content {
  max-width: 150px;
  transition: box-shadow 0.8s;
}
.experts__img-social-content {
  max-width: 150px;
}
.experts__img-span {
  max-width: 150px;
}
.experts__img {
  transition: opacity 0.8s;
}
.experts__staff:hover .experts__img-content {
  box-shadow: 1px 1px 20px #333333;
}
.experts__staff:hover .experts__li-items {
  top: -40px;
}
.experts__staff:hover .experts__img {
  opacity: 0.5;
}
.experts__li-items {
  transition: top 0.8s;
  top: 50px;
  width: 150px;
  padding: 0px;
}
.experts__li-item {
  padding: 10px;
  background-color: #e9ecef;
  transition: background-color 0.8s ease;
}
.experts__li-item i {
  transition: color 0.8s ease;
  font-size: 2.4rem;
}
.experts__li-item:hover {
  background-color: #81b441;
}
.experts__li-item:hover i {
  color: white;
}
.experts .swiper-button-prev {
  left: calc(50% - 60px);
}
.experts .swiper-button-next {
  left: calc(50% + 15px);
}

.help__img-box {
  max-width: 720px;
}
.help__text-box {
  border-left: solid 4px #81b441;
}
.help__text-box span {
  color: #81b441;
}

.testimonial .swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border: 1px solid #81b441;
  background-color: transparent;
  opacity: 1;
}
.testimonial .swiper .swiper-pagination-bullet:hover {
  background-color: #81b441;
}
.testimonial .swiper .swiper-pagination-bullet-active {
  background-color: #81b441;
}
.testimonial__img {
  border-radius: 50%;
  border: 3px solid #81b441;
}
.testimonial__link {
  color: #81b441;
  font-size: 1.8rem;
}

.gallery__img {
  position: relative;
}
.gallery__img:hover .gallery__img-span a {
  opacity: 1;
}
.gallery__img::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.7s ease;
}
.gallery__img:hover::before {
  opacity: 1;
}
.gallery__img:hover i {
  opacity: 1;
  cursor: pointer;
}
.gallery__img-figcaption {
  position: absolute;
}
.gallery__img-span a {
  text-decoration: none;
  transition: color 0.7s;
  opacity: 0;
  color: white;
}
.gallery__img-span a:hover {
  color: #81b441;
  opacity: 1;
}
.gallery__img-span i {
  text-decoration: none;
  transition: color 0.7s;
  opacity: 0;
  color: white;
  font-size: 3.6rem;
}
.gallery__img-span i:hover {
  color: #81b441;
  opacity: 1;
}
.gallery i {
  font-size: 3.6rem;
}

figure {
  margin: 0 0 0;
}

.facts {
  background-color: #333333;
}
.facts__item-h {
  position: relative;
  z-index: 3;
}
.facts__item {
  position: relative;
  z-index: 2;
}
.facts__item::before {
  position: absolute;
  content: "";
  top: -15px;
  right: 0;
  left: 0;
  bottom: -15px;
  background-color: #81b441;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.7s ease;
}
.facts__item:hover::before {
  opacity: 1;
}

.price__head {
  height: 135px;
  width: 135px;
  background-color: white;
}
.price__dollar {
  font-size: 4rem;
  color: black;
  transition: color 0.5s ease;
}
.price__month {
  font-size: 1.8rem;
}
.price__link {
  background-color: #333333;
  color: white;
  transition: background-color 0.5s ease;
}
.price__value {
  background-color: #e9ecef;
  transition: background-color 0.8s ease, color 0.8s ease;
}
.price__value:hover {
  background-color: #333333;
  color: white;
}
.price__value:hover .price__link {
  background-color: #81b441;
}
.price__value:hover .price__dollar {
  color: white;
}
.price__value:hover .price__head {
  background-color: #81b441;
}
.price ul {
  padding-left: 0rem;
}
.price li {
  padding-top: 10px;
  font-size: 1.4rem;
}

.blog figure {
  margin: 0 0 0rem;
}
.blog p {
  font-size: 1.4rem;
  padding: 1rem 0;
  margin: 0;
}
.blog__icon {
  top: 110%;
  padding: 15px;
  opacity: 0;
  transition: top 0.5s ease, opacity 0.5s ease;
  background-color: #81b441;
}
.blog__icon .icon-link {
  color: white;
  font-size: 2.8rem;
}
.blog__item:hover .blog__icon {
  top: 50%;
  opacity: 1;
}
.blog__item:hover .blog__image::before {
  opacity: 1;
}
.blog__link {
  font-size: 2.2rem;
  font-weight: bold;
  color: #81b441;
}
.blog__image::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.5s ease;
}
.blog .blog__data {
  background-color: #333333;
  color: white;
}
.blog .bi-link-45deg {
  background-color: #81b441;
  color: white;
  padding: 5px;
  top: 150px;
}

.call-us {
  background-color: #81b441;
}

.form input:focus,
.form textarea:focus {
  background-color: white;
  outline: none;
}
.form__input.__error {
  box-shadow: 0 0 15px red;
}
.form__textarea-textarea {
  min-height: 100px;
}
.form__btn {
  color: white;
  background-color: #81b441;
  margin-top: 30px;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  transition: background-color 0.5s ease;
}
.form__btn:hover {
  background-color: #333333;
}
.form__btn:active {
  position: relative;
  top: 5px;
  box-shadow: 0px 5px 5px #333333;
  border: #333333;
}

.footer {
  position: relative;
  text-align: center;
  color: white;
  background-color: #333333;
  z-index: 0;
}
.footer .row {
  position: relative;
  z-index: 2;
}
.footer h3 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0 0 20px;
}
.footer ul {
  padding: 0;
}
.footer ul li a {
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 0 0 10px;
}
.footer ul li img {
  max-width: 60px;
  width: 100%;
  margin: 0 5px 5px 0;
}
.footer__text {
  max-width: 80%;
}
.footer__logo img {
  max-width: 100px;
}
.footer::before {
  position: absolute;
  max-width: 34%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
  background-color: #81b441;
  z-index: 1;
  opacity: 0;
}
.footer__service-information a {
  transition: color 0.5s ease;
}
.footer__service-information a:hover {
  color: #81b441;
}

.position__box {
  position: relative;
}

.overlay__box {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(34, 34, 34, 0.6784313725);
  z-index: 1001;
}

.img-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 500px;
}

.img-span {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  transition: transform 0.5s;
}
.img-span:hover {
  transform: rotate(90deg);
}

.icon-universal {
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 10px;
  background-color: white;
}
.icon-universal i {
  display: inline-block;
  color: #333333;
  font-size: 1.8rem;
  padding: 0.7rem;
  transition: color 0.5s ease;
}
.icon-universal i:hover {
  color: #81b441;
}

@media (min-width: 769px) {
  .footer__text {
    max-width: 100%;
  }
  .footer::before {
    opacity: 1;
  }
  .footer__text {
    max-width: 100%;
  }
  .header {
    padding-top: 100px;
  }
  .header__top-container {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 1px 1px 5px black;
  }
  .header__menu-item {
    display: inline-block;
  }
  .header__navbar {
    display: none;
  }
}